
.header{
    font-size: 38px;
    text-align: center;
    font-family: 'Neuton', serif;
    font-family: 'Rationale', sans-serif;
    display: block;
    margin-top: 10px;
    margin-bottom: 60px;
}
.titleCosmetic{
    position: absolute;
    width: 100px;
    height: 28px;
    left: 28px;
    top: 920px;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Rationale', sans-serif;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 3px;
    color: #000000;
    z-index: 102;
}

.titleClothes{
    position: absolute;
    width: 100px;
    height: 28px;
    left: 28px;
    top: 1350px;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Rationale', sans-serif;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 3px;
    color: #000000;
    z-index: 102;
}

.titleWatches{
    position: absolute;
    width: 100px;
    height: 28px;
    left: 28px;
    top: 1750px;
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Rationale', sans-serif;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #000000;
    z-index: 102;
}

.titleOthers{
    position: absolute;
    width: 100px;
    height: 28px;
    left: 28px;
    top: 2135px;
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Rationale', sans-serif;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 3px;
    color: #000000;
    z-index: 102;
}
@media screen and (max-width: 600px) {
    .titleCosmetic,.titleClothes,.titleWatches,.titleOthers {
      left: 28px;
    }
    .titleCosmetic{
        font-size: 25px;
        top: 325px;
        letter-spacing: 2px;
    }
    .titleClothes{
        font-size: 25px;
        top: 1835px;
        letter-spacing: 2px;
    }
    .titleWatches{
        font-size: 25px;
        top: 3355px;
        letter-spacing: 2px;
    }
    .titleOthers{
        font-size: 25px;
        top: 4865px;
        letter-spacing: 2px;
    }
  }
@media screen and (max-width: 992px) {
    .titleCosmetic,.titleClothes,.titleWatches,.titleOthers {
        left: 28px;
      }
      .titleCosmetic{
          font-size: 30px;
          top: 545px;
          letter-spacing: 2px;
      }
      .titleClothes{
          font-size: 30px;
          top: 1360px;
          letter-spacing: 2px;
      }
      .titleWatches{
          font-size: 30px;
          top: 2145px;
          letter-spacing: 2px;
      }
      .titleOthers{
          font-size: 30px;
          top: 2910px;
          letter-spacing: 2px;
      }
  }
