
.title{
    text-align: center;
    font-family: 'Rationale',sans-serif;
    font-size: 40px;
    margin-top: 18px;
}
.titleBody{
    width: 100%;
    height: 100px;
}
.bodyContent{
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    height: 200px;
}
.subtitle{
    color: black;
    font-family: 'Rationale',sans-serif;
    font-size: 35px;
    
}
.fullcontent{
    width: 80%;
    float: left;
}
.content{
    color: black;
    font-size: 35px;
    font-family: 'Rationale',sans-serif;
}
.imgAbout{
    margin: 0px;
    border: 3px solid black;
}
.name{
    text-align: center;
    font-family: 'Rationale',sans-serif;
    font-size: 35px;
}
@media screen and (max-width: 600px) {
    .bodyContent {
        width: 100%;
    
      }
      .fullcontent{
        width: 65%;
        margin: 0px;
        height: 200px;
      }
      .content{
          width: 500px;
          height: 200px;
          font-size: 28px;
          margin: 0px;
          padding: 0px;
      }
      .imgAbout{
          width: 1rem;
      }
      .title{
          margin-top: 36px;
      }
  }
  @media screen and (max-width: 1000px) {
    .bodyContent {
        width: 100%;
    
      }
      .fullcontent{
        width: 65%;
        margin: 0px;
        height: 200px;
      }
      .content{
          width: 500px;
          height: 200px;
          font-size: 28px;
          margin: 0px;
          padding: 0px;
      }
      .imgAbout{
          width: 14rem;
      }
      .title{
          margin-top: 36px;
      }
  }
