.body{
  display: block;
  margin: 0px;
}
.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 0px;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

/* .card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
} */

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.layout{
  margin-bottom: 100px;
}
/* Home */
.main-heading{
  text-align: center;
  margin: 20px;
  font-size: 50px;
  font-family: 'Rationale', sans-serif;
}
.card{
  width: 18rem;
  display: block;
  margin-right: 20px;
  margin-left: 29.5px;
  margin-bottom: 20px;
  border: 0px;

}
img{
  width: 15rem;
  height: 14rem;
  border: 2px solid black   ;

}
.card-title{
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Rationale', sans-serif;
}
@media screen and (max-width: 992px) {
  .col-4 {
    width: 50%;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .col-4 {
    width: 100%;
    justify-content: center;
  }
  .card-title{
    font-size: 25px;
  }
  .main-heading{
    font-size: 30px;
  }
}

@media screen and (min-width: 600px) {
  .main-heading {
    font-size: 40px;
  }
}





/* Footer */
.footer{
  margin-top: 160px;
  width: 100%;
}
.text-center  {
  width: 100%;
  height: 450px;
  color: white;
  background-color: black;
}
.col-lg-3{
  width: 600px;
  padding-left: 100px;
  padding-top: 10px;
}
.text-case {
  font-size: 30px;
  font-family: 'Rationale', sans-serif;
  padding-bottom: 30px;
}
.text-light{
  font-size: 25px;
  font-family: 'Rationale',sans-serif;
  letter-spacing: 1px;
}
.fa{
  float: left;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  justify-content:  center;
  border-radius: 20px;
  margin-right: 15px;
}
.social{
  width: 500px;
  padding-bottom: 60px;
  
}
.text-contact{
  font-family: 'Rationale',sans-serif;
  font-size: 30px;
}
.tel{
  font-family: 'Rationale',sans-serif;
  color: white;
  font-size: 30px;
}
.Copyright{
  font-size: 24px;
  font-family: 'Rationale', sans-serif;
  letter-spacing: 1px;
}
