
.header{
    font-size: 38px;
    text-align: center;
    font-family: 'Neuton', serif;
    font-family: 'Rationale', sans-serif;
    display: block;
    margin-top: 10px;
    margin-bottom: 60px;
}
.titleCosmetic{
    position: absolute;
    width: 100px;
    height: 28px;
    left: 15px;
    top: 880px;
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Rationale', sans-serif;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #000000;
}
.card{
    display: block;
    margin-left: 16px;
    margin-right: 15px;
    margin-bottom: 100px;
}
.img{
    width: 288px;
    height: 300px;
    border: 1px solid black;
    
}
.imgText1{
    position: absolute;
    width: 288px;
    text-align: center;
    height: 12px;
    margin-top: 16px;
    top: 1220px;
    font-family: 'Rationale', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
}
.titleClothes{
    position: absolute;
    width: 100px;
    height: 28px;
    left: 15px;
    top: 1265px;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Rationale', sans-serif;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #000000;
}
.imgText2{
    position: absolute;
    width: 288px;
    height: 12px;
    margin-top: 16px;
    top: 1615px;
    text-align: center;
    font-family: 'Rationale', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
}
.titleWatches{
    position: absolute;
    width: 100px;
    height: 28px;
    left: 15px;
    top: 1680px;
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Rationale', sans-serif;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #000000;
}
.imgText3{
    position: absolute;
    width: 288px;
    text-align: center;
    height: 12px;
    margin-top: 16px;
    top: 2020px;
    font-family: 'Rationale', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
}
.titleOthers{
    position: absolute;
    width: 100px;
    height: 28px;
    left: 15px;
    top:2080px;
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Rationale', sans-serif;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #000000;
}
.imgText4{
    position: absolute;
    width: 288px;
    text-align: center;
    height: 12px;
    margin-top: 16px;
    top: 2420px;
    font-family: 'Rationale', sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
}
